

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div id="myCarousel" class="carousel slide">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <img src="../../images/1.jpg" alt="1" class="img-responsive">
                    <div class="carousel-caption">
                        <h3>Hello</h3>
                        <p>...</p>
                    </div>
                </div>
                <div class="item">
                    <img src="../../images/2.jpg" alt="2" class="img-responsive">
                    <div class="carousel-caption">
                        <h3>there</h3>
                        <p>...</p>
                    </div>
                </div>
                <div class="item">
                    <img src="../../images/3.jpg" alt="3" class="img-responsive">
                    <div class="carousel-caption">
                        <h3>world</h3>
                        <p>...</p>
                    </div>
                </div>
            </div>
            <a class="carousel-control left" href="#myCarousel" data-slide="prev">
                <span class="icon-prev"></span>
            </a>
            <a class="carousel-control right" href="#myCarousel" data-slide="next">
                <span class="icon-next"></span>
            </a>

        </div>
    </div>
</div>
