<nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

            <a class="navbar-brand" href="#!/">מרום</a>




            <a class="navbar-brand">
                <img src="../images/logo.jpg" height="40px" width="40px">
            </a>





        </div>


        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#!/perfumes">בישום</a></li>
                <li><a href="#!/makeups">איפור</a></li>
                <li><a href="#">מחלקת התכשיטים</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">מוצרים <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">בישום</a></li>
                        <li><a href="#">קוסמטיקה</a></li>
                        <li><a href="#">תכשיטים</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">ביגוד</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">אוכל</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav">
                <li><a href="#">אודותינו</a></li>
            </ul>
        </div>

    </div>

</nav>
