<div class="row container-fluid">

    <div class="col-md-2 jumbotron">
        <input type="text" class="form-control" placeholder="חפש לפי מספר סידורי" ng-model="searchId">
        <br>
        <input type="text" class="form-control" placeholder="חפש לפי שם מוצר" ng-model="searchName">
    </div>

    <div class="col-md-4">

       <h1>{{ screenName }}</h1>

        <table class="table">
            <tr ng-repeat="data in allObjects | filter: {id : searchId, title : searchName}">
                <td>
                    <div class="media">
                        <a class="pull-left">
                            <img class="media-object img-rounded" src="{{data.picUrl}}" height="100px" width="125px">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">{{data.title}}</h4>
                            <p>מספר סידורי: {{data.id}}</p>
                            <p>פירוט: {{data.info}}</p>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>

</div>


